#root {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 40px 32px;
    background-color: #6397cc;
    border: 1px solid black;
    border-radius: 8px;
    margin: 60px auto;
    overflow: auto;
}